
 
 @media screen and (max-width: 768px) {
   html {
     height: 120vh;
     font-size: 8.8px;
   }
   
   html body {
     margin: 0 5px;
   }
 }
 
 .calendarContainer-new-user {
   width: 700px;
   margin: 0 auto;
   -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
 }
 
 @media screen and (max-width: 768px) {
   .calendarContainer-new-user {
     max-width: 100vw;
     min-width: 320px;
     margin: 0;
     position: fixed;
   }
 }
 
 .monthYearTitleContainer {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 10px; 
 }
 
 .monthYearTitleContainer .monthWrap,
 .monthYearTitleContainer .yearWrap {
   text-align: center;
   color: #ff3b30;
 }
 
 .monthYearTitleContainer .monthWrap {
   font-size:20px;
   font-weight: 600;
 }
 
 .monthYearTitleContainer .yearWrap {
  font-size:12px;
  color: white;

}
 
 @media screen and (max-width: 768px) {
   .monthYearTitleContainer {
     width: 100vw;
     min-width: 320px;
     max-width: 100vw;
   }
 }
 
 .weekdayTitleContainer {
   display: flex;
   justify-content: space-between;
   margin: 0 auto;
   color: white;
 }
 
 .weekdayTitleContainer .weekWrap {
   width: calc(100% / 7); 
   text-align: center;
   padding: 10px 0;
   font-size: 10px !important;
 }
 
 @media screen and (max-width: 768px) {
   .weekdayTitleContainer {
     width: 100vw;
     max-width: 100vw;
     min-width: 320px;
     margin: 0;
   }
 }
 
 .calendarsWrap {
   display: flex;
   justify-content: center;
 }
 
 .calendarsWrap .dayCellsContainer {
   display: flex;
   flex-wrap: wrap;
   width: 100%; 
   gap: 0;
   color: white;
 }
 
 .calendarsWrap .dayCellsContainer .cell,
 .calendarsWrap .dayCellsContainer .cell-blank {
   width: calc(100% / 7); 
   height: 70px;
   padding: 10px 0;
   text-align: center;
   font-size: 2.5rem;
   line-height: 2.5rem;
   color: white;

 }
 
 .calendarsWrap .dayCellsContainer .cell-blank {
   border-top: 0.5px solid transparent;
 }
 
 .calendarsWrap .dayCellsContainer .dayNum {
   width: 5rem;
   padding: 1.25rem 0;
   display: inline-block;
   border-radius: 50%;
 }
 
 .selected {
   background: #ff3b30;
   color: white;
 }
 
 .arrow-wrap {
   position: absolute;
   width: 0;
   height: 0;
 }
 
 .arrow-wrap .arrow {
   width: 30px;
   height: 30px;
   border-left: 2px solid rgba(0, 0, 0, 0.14);
   border-bottom: 2px solid rgba(0, 0, 0, 0.14);
   cursor: pointer;
 }
 
 .arrow-wrap .arrow.left {
   transform: rotate(45deg);
   margin: 200px 0 0 -90px;
 }
 
 .arrow-wrap .arrow.right {
   transform: rotate(-135deg);
   margin: 200px 0 0 760px;
 }
 
 @media screen and (max-width: 768px) {
   .arrow-wrap {
     display: none;
   }
 }
 
 .monthChangeButton {
   background-color: transparent;
   padding: 40px;
   border: none;
   font-size: 32px;
   cursor: pointer;
   color: white;
   font-family:' Poppins' !important;
   font-weight: 600px;
   line-height:25px;
   
 }
 
 .dayCellsContainer .cell,
 .dayCellsContainer .cell-blank {
   width: calc(100% / 7); 
   height: 90px; 
   padding: 10px 0;
   text-align: center;
   font-size: 2.5rem;
   position: relative; 
 }
 
 .dayCellsContainer .dayNum {
   width: 5rem;
   padding: 1.25rem 0;
   display: inline-block;
   border-radius: 50%;
 }
 
 .dayCellsContainer .dayNumber {
   position: absolute;
   bottom: 5px;
   right: 10px;
   font-size: 12px;
   color: #007AFF;
 }
 
 .selected {
   background: #ff3b30;
   color: white;
 }
 .highlighted {
  color: red !important;
  font-weight: bold;
} 

.logo-Home-calendar img {
  width: 100px; 
  height: auto; 
  object-fit: contain; 
  margin-bottom: -15px;
}
