.block-date-container {
  display: flex;
  justify-content: center;
  background-color: black; 
  margin: 0;
}

.block-date-wrapper {
  padding: 20px;
  text-align: center;
  background-color: #f8f9fa; 
  width: 300px;
  border-radius:11px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
.blocked-dates-list{
  margin-left: 35px !important;
  justify-content: center;
align-self: center;
align-items: center;
}

.block-date-title {
  color: #0078d4;
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 16px;
}

.block-date-subtitle {
  color: #ff0000;
  font-size: 1rem;
  font-weight: bold;
  margin-top: 20px;
}

.blocked-dates-list {
  list-style-type: none;
  padding: 0;
  margin: 10px 0 0;
  text-align: left;
}

.blocked-date-item {
  background-color: #ffffff;
  padding: 8px 12px;
  border: 1px solid #d1d5db;
  border-radius: 4px;
  margin-bottom: 8px;
  font-size: 0.9rem;
  color: #000000;
}

.block-date-inputs {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.block-date-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.block-date-label {
  font-size: 0.9rem;
  margin-bottom: 8px;
  color: #000000;
  font-weight: 500;
}

.block-date-input {
  width: 100%;
  padding: 8px 12px;
  border: 2px solid #d1d5db;
  border-radius: 6px;
  font-size: 0.9rem;
  outline: none;
  background-color: #ffffff;
  box-sizing: border-box;
}

.block-date-input:focus {
  border-color: #0078d4;
  box-shadow: 0px 0px 3px rgba(0, 120, 212, 0.5);
}

.block-date-submit {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: black;
  color: white;
  font-size: 1rem;
  border: none;
  width: 100px;
  border-radius: 26px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.block-date-submit:hover {
  background-color: #005fa3;
}

@media (max-width: 600px) {
  .block-date-wrapper {
    width: 300px;
    padding: 15px;
  }
  .blocked-dates-list{
    width: 300px;
  }

  .block-date-title {
    font-size: 0.9rem;
  }

  .block-date-input {
    padding: 6px 10px;
    font-size: 0.8rem;
  }

  .block-date-submit {
    padding: 8px 16px;
    font-size: 0.9rem;
  }
}
