
body{
  display: flex;
  
  
}


.container {
    justify-content: center;
    align-items: center;
    align-content: center;
    max-width: 340px; 
    margin: 0 auto;
    padding: 20px 15px; 
    text-align: start;
    
  }
  
  img {
    display: block;
    margin: 0 auto 20px;
    width: 60px; 
    height: auto;
  }
 


  form {
    background: #f9f9f9;
    padding: 20px 30px; 
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
  }
  
  form label {
    display: block;
    margin: 10px 0 5px;
    text-align: left;
    font-size: 14px;
  }
  
  form input[type="text"],
  form input[type="email"],
  form button {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    box-sizing: border-box;
  }
  
  form p {
    margin: 10px 0;
    text-align: left;
  }
  
  .radio-group {
    display: flex;
    justify-content: flex-start; 
    gap: 10px; 
    margin: 5px 0 15px;
  }
  
  .radio-group label {
    font-weight: normal;
    display: flex;
    align-items: center;
    gap: 5px;
  }
  .radio-group input[type="radio"] {
    order: 1; 
    margin-left: 5px; 
  }
  
  .radio-group label:first-child {
    margin-right: 10px; 
  }
  
  form button {
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 25px;
    padding: 12px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
  }
  
  form button:hover {
    background-color: #444;
  }
  
  form button:active {
    background-color: #333;
    
  }

  .warning-message {
    background-color: #fff; 
    border: 1px solid #ddd; 
    border-radius: 10px;
    padding: 7px;
    margin: 11px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .warning-message p {
    margin: 0;
    font-size: 14px;
    line-height: 1.6;
  }
  
  .warning-text {
    color: #d32f2f; 
    font-weight: bold;
    display: block; 
    margin-bottom: 5px;
  }
  
  .warning-description {
    color: #000; 
    font-size: 14px;
  }

  .logo {
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin: 0 auto; 
    width: 100%; 
  }
  
  .logo img {
    justify-content: center;
    align-items: center;
    width: 200px;
    height: auto;
    object-fit: contain;
    margin: 0 auto 20px;
  }
  
  
  @media (max-width: 480px) {
    .container {
      max-width: 320px;
    }
  
    img {
      width: 50px; 
    }
  
    form {
      padding: 15px;
    }
  
    form input[type="text"],
    form input[type="email"],
    form button {
      font-size: 13px; 
    }
  
    .radio-group {
      gap: 10px; 
    }
  }
  